extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    |   Canvas will appear here in the future<br>
    |   Clicking on the canvas will make a call to api and put a point in the array<br>
    |   Eventually we will use serverside computing to do clustering.